/* No javascript
-------------------------------------------------- */
div#no-script {
    text-align: center;
    color: #CC3732;
}

div#content-block {
    display: none;
}
/* End no javascript
-------------------------------------------------- */



/* Bottom footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.push {
  margin-top: 10px;
}

#footer {
}

#footer, .push {
  height: 3em;
}


/* end bottom footer styles
-------------------------------------------------- */


/* Spinner on buttons */

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.loading {
  opacity: 1;
}

.has-spinner.loading .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.loading .spinner {
    width: 16px;
}

.has-spinner.btn-large.loading .spinner {
    width: 19px;
}

/* End of Spinner on buttons
-------------------------------------------------- */

/* Messages */

div.messages-wrapper {
  position:absolute;
  top:70px;
  left:330px;
  width:600px;
  height:0px;
}

/* end of Messages */
