{% extends "templates/base.jinja2" %}

{% block contents %}
<div class="jumbotron">

<div class="alert">{{ _("Bad Request.") }}</div>

{% trans %}
  <p>Sorry, but there was an error with your request.</p>
  <p>Error code 400</p>
{% endtrans %}

  {{ msg }}

</div>
{% endblock %}
